<div class="min-h-screen bg-slate-100 flex items-center justify-center p-6">
  <div class="bg-white w-full max-w-6xl rounded-3xl shadow-2xl overflow-hidden flex flex-col lg:flex-row">
    <!-- Panel Izquierdo -->
    <div class="w-full lg:w-1/2 flex items-center justify-center p-8 lg:p-16">

      <div class="w-full max-w-md px-10">

        <!-- Logo -->
        <div class="text-center mb-10">

          <h1 class="text-3xl lg:text-4xl font-bold text-slate-800">
            EduSystem
          </h1>

          <p class="text-slate-500 mt-2 text-sm lg:text-base">
            Crea un usuario para continuar
          </p>

        </div>

        <form (ngSubmit)="verificarCorreo()">
          <!-- Nombre -->
          <div class="mb-6">
            <label class="block mb-2 text-sm font-semibold text-slate-700">
              Nombre completo
            </label>
            <div class="relative">
              <span class="absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                  </svg>
                </span>
              <input type="email" [(ngModel)]="nombre" name="name" placeholder="Juan Perez" class="w-full pl-10 pr-4 py-3 rounded-xl border border-slate-300 bg-slate-50 focus:bg-white focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition">
            </div>
          </div>

          <!-- Email -->
          <div class="mb-6">
            <label class="block mb-2 text-sm font-semibold text-slate-700">
              Correo electrónico
            </label>
            <div class="relative">
              <span class="absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                  </svg>
                </span>
              <input type="email" [(ngModel)]="email" name="email" placeholder="ejemplo@gmail.com" class="w-full pl-10 pr-4 py-3 rounded-xl border border-slate-300 bg-slate-50 focus:bg-white focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition">
            </div>

          </div>

          <!-- Email -->
          <div class="mb-6">
            <label class="block mb-2 text-sm font-semibold text-slate-700">
              Identificacion
            </label>
            <div class="relative">
              <span class="absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                  </svg>
                </span>
              <input type="number" [(ngModel)]="identificacion" name="identificacion" placeholder="0929229233" class="w-full pl-10 pr-4 py-3 rounded-xl border border-slate-300 bg-slate-50 focus:bg-white focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition">
            </div>

          </div>

          <!-- Password -->
          <div>

            <label class="block mb-2 text-sm font-semibold text-slate-700">
              Contraseña
            </label>

            <div class="relative">

            <span class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400">

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-1.5 0h12a1.5 1.5 0 011.5 1.5v7.5a1.5 1.5 0 01-1.5 1.5h-12A1.5 1.5 0 014.5 19.5v-7.5A1.5 1.5 0 016 10.5z"/>

              </svg>

            </span>

              <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" placeholder="Ingrese su contraseña" class="w-full pl-10 pr-12 py-3 rounded-xl border border-slate-300 bg-slate-50 focus:bg-white focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition">
              <button type="button" (click)="togglePassword(1)" class="absolute right-3 top-1/2 -translate-y-1/2 text-slate-400 hover:text-slate-600 transition">

                @if (!showPassword) {

                  <!-- Ojo abierto -->
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">

                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.964-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0Z" />
                  </svg>
                } @else {
                  <!-- Ojo cerrado -->
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                  </svg>
                }
              </button>
            </div>
          </div>
          <!--Repeat Password -->
          <div>

            <label class="block mb-2 text-sm font-semibold text-slate-700">
              Reescriba su contraseña
            </label>

            <div class="relative">

            <span class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400">

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-1.5 0h12a1.5 1.5 0 011.5 1.5v7.5a1.5 1.5 0 01-1.5 1.5h-12A1.5 1.5 0 014.5 19.5v-7.5A1.5 1.5 0 016 10.5z"/>

              </svg>

            </span>

              <input [type]="showRepeatPassword ? 'text' : 'password'" [(ngModel)]="repeatPassword" name="repeatPassword" placeholder="Ingrese su contraseña" class="w-full pl-10 pr-12 py-3 rounded-xl border border-slate-300 bg-slate-50 focus:bg-white focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition">
              <button type="button" (click)="togglePassword(2)" class="absolute right-3 top-1/2 -translate-y-1/2 text-slate-400 hover:text-slate-600 transition">

                @if (!showRepeatPassword) {

                  <!-- Ojo abierto -->
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">

                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.964-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0Z" />
                  </svg>
                } @else {
                  <!-- Ojo cerrado -->
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                  </svg>
                }
              </button>
            </div>
          </div>
          <!-- eleccion del tipo de usuario -->
          <div class="mb-6">
            <label class="block mb-3 text-sm font-semibold text-slate-700">
              Elija el tipo de usuario
            </label>

            <div class="flex justify-center gap-4">
              <!-- Estudiante --> <!-- esta es la forma de activar cambios en clases de tailwind a traves de variables esta increible hay que aplicarlo mas seguido QUIERO MAAAAASS -->
              <button type="button"(click)="selectedRole = 'STUDENT'" [class.text-blue-600]="selectedRole === 'STUDENT'"
                class="w-28 h-28 rounded-2xl border-2 border-gray-300 bg-white hover:border-blue-400 transition flex flex-col items-center justify-center gap-2 shadow-sm">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                </svg>


                <span class="text-sm font-medium text-slate-700">
                  Estudiante
                </span>

              </button>

              <!-- Profesor -->
              <button
                type="button"
                (click)="selectedRole = 'PROFFESOR'"
                [class.text-blue-600]="selectedRole == 'PROFFESOR'"
                class="w-28 h-28 rounded-2xl border-2 border-gray-300 bg-white hover:border-blue-400 transition flex flex-col items-center justify-center gap-2 shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
                </svg>
                <span class="text-sm font-medium text-slate-700">
                  Profesor
                </span>
              </button>
            </div>
          </div>
          <!-- Botón -->
          <button type="submit" class="w-full mt-8 py-3 rounded-xl bg-blue-600 text-white font-semibold hover:bg-blue-700 transition duration-300 shadow-lg">
            Crear usuario
          </button>
        </form>
      </div>
    </div>
    <!-- Panel Derecho -->
    <div class="hidden lg:flex lg:w-1/2 bg-gradient-to-br from-blue-600 to-indigo-700 text-white flex-col items-center justify-center p-16">
    <div class="w-72 h-72 bg-white/10 rounded-3xl flex items-center justify-center text-2xl font-bold backdrop-blur-sm">
      Dashboard
    </div>
      <h2 class="text-4xl font-bold mt-10 text-center">
        Bienvenido
      </h2>
      <p class="text-center mt-4 text-blue-100 max-w-md leading-relaxed">
        Gestiona estudiantes, materias y actividades
        desde una plataforma moderna diseñada para
        facilitar la administración académica.
      </p>
    </div>
  </div>
</div>